doctype html
html
head
    script
        include ../website/code.js
    script(src="//cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js")

    style.
        #input-form input {
            padding: 10px;
            font-size: 20px;
            width: 250px;
        }
body
    ul#chatbox
        for chat in chats
            li=chat
    form#inputForm
        input(type="text" name="chat" placeholder="Enter a message")
        input(type="submit" hidden)


    script.
        joinChat()
